<a href="https://colab.research.google.com/github/2020130873HyunjuLee/class2021Fall/blob/main/1108%20%EA%B0%95%EC%9D%98%EC%A0%95%EB%A6%AC%EB%B3%B8%20(2)%20syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

a는 list
- for = 똑같은 패턴을 반복
- if = ~할 때만 해라 (조건)

In [ ]:
a = [1, 2, 3, 4]
for i in a:
    print(i)

1
2
3
4

In [3]:
a = [1, 2, 3, 4]

for i  in  a :
  print(i)
print(i+1)

1
2
3
4
5

**for A in B :** ( A에 있는 것을 가지고 B 에 있는 리스트로 반복해라) 

[틀] for i  in  a
       print(i)

[해석] a에 있는 것에서 젤 첫번째부터 끝번째까지 i에 넣어라

- a = [1, 2, 3, 4, 5, 6, ..... .... 10000] 일 경우, print (a[0]) 부터 10000까지 다 써야하므로, for 공식을 사용
- **indent (들여쓰기) 를 해야 적용** 
위의 예시처럼 print(i)는 들여쓰기 하고 print (i+1) 은 들여쓰기 안하면, print(i) 만 반복되고 마지막 print(i+1)은 마지막 4에서 그냥 +1 한 값 출력 (반복x)

In [5]:
for i in range(4) : 
  print(i)

0
1
2
3

ㄴrange(4)를 하면, 단순 숫자의 range의 index가 출력됨.

In [6]:
a = [1, 2, 3, 4]
for i in range(4) : 
  print(a[i])

1
2
3
4

ㄴrange (4)를 하면 0,1,2,3이 나오는데, 이를 다시 i에 넣으면 a[0],a[1],a[2],a[3] 이 되므로 결과적으로는 1,2,3,4 출력

In [ ]:
a = [1, 2, 3, 4]
for i in range(len(a)):
    print(a[i])

1
2
3
4

ㄴlist의 length 를 찾아줌. (len(a))=4 이므로 결과적으로 바로 위의 코드와 같은 결과 도출.

In [7]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

red
green
blue
purple

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

red
green
blue
purple

ㄴ (len(a))=4 이므로 range(4) = 0,1,2,3  네 번의 루프를 돌게 됨



---

In [8]:
a = 0
if a == 0:
    print(a)
else: 
  print(a+1)

0

- if와 else 밑에 들어가는 것도 **indent 처리**
- = 하나 쓰면 variable에다 content를 assign 한다는 거고, ==두개 쓰면 진짜 equal 의 의미
- 위의 코드를 해석하면 'a가 0이면 a를 프린트하고, 그렇지 않으면 a+1을 프린트하라' 라는 의미임

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        print(i*j)

3
4
6
8

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)

4
8

In [ ]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b

[2, 3, 4]

In [ ]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']