<a href="https://colab.research.google.com/github/2020130873HyunjuLee/class2021Fall/blob/main/1110%20%EA%B0%95%EC%9D%98%EC%A0%95%EB%A6%AC%EB%B3%B8%20syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

a는 list
- for = 똑같은 패턴을 반복
- if = ~할 때만 해라 (조건)

In [ ]:
a = [1, 2, 3, 4]
for i in a:
    print(i)

1
2
3
4

print, range 등 누군가가 만들어놓은 operation = **function**
- function 은 언제나 입/출력을 가짐
- 위 코드(함수)의 경우, 입력은 i
- 반드시 괄호 안엔 입력이 들어감

In [ ]:
a = [1, 2, 3, 4]

for i  in  a :
  print(i)
print(i+1)

1
2
3
4
5

**for A in B :** ( A에 있는 것을 가지고 B 에 있는 리스트로 반복해라) 

[틀] for i  in  a
       print(i)

[해석] a에 있는 것에서 젤 첫번째부터 끝번째까지 i에 넣어라

- a = [1, 2, 3, 4, 5, 6, ..... .... 10000] 일 경우, print (a[0]) 부터 10000까지 다 써야하므로, for 공식을 사용
- **indent (들여쓰기) 를 해야 적용** 
위의 예시처럼 print(i)는 들여쓰기 하고 print (i+1) 은 들여쓰기 안하면, print(i) 만 반복되고 마지막 print(i+1)은 마지막 4에서 그냥 +1 한 값 출력 (반복x)
- for도 if도 수식 뒤에 : (colon) 해줘야 돌아감

In [ ]:
for i in range(4) : 
  print(i)

0
1
2
3

ㄴrange(4)를 하면, 단순 숫자의 range의 index가 출력됨.

In [ ]:
a = [1, 2, 3, 4]
for i in range(4) : 
  print(a[i])

1
2
3
4

ㄴrange (4)를 하면 0,1,2,3이 나오는데, 이를 다시 i에 넣으면 a[0],a[1],a[2],a[3] 이 되므로 결과적으로는 1,2,3,4 출력

In [2]:
a = [1, 2, 3, 4]
for i in range(len(a)):
    print(a[i])

1
2
3
4

ㄴlist의 length 를 찾아줌. (len(a))=4 이므로 결과적으로 바로 위의 코드와 같은 결과 도출.

In [1]:
a = [1, 2, 3, 4]

len(a)

4

- https://www.w3schools.com/python/ref_func_len.asp 참고
- (len = list 속 component 의 개수를 뱉어줌):

In [4]:
a = [1, 2, 3, 4]

len(a)

print('h')

h

ㄴ 제일 마지막에 있을 땐 print를 굳이 안해도 위위의 코드처럼 4가 나오는데, 아닐 때는 print를 붙여야함

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

red
green
blue
purple

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

red
green
blue
purple

ㄴ (len(a))=4 이므로 range(4) = 0,1,2,3  네 번의 루프를 돌게 됨



---

In [ ]:
a = 0
if a == 0:
    print(a)
else: 
  print(a+1)

0

- if와 else 밑에 들어가는 것도 **indent 처리**
- = 하나 쓰면 variable에다 content를 assign 한다는 거고, ==두개 쓰면 진짜 equal 의 의미
- 위의 코드를 해석하면 'a가 0이면 a를 프린트하고, 그렇지 않으면 a+1을 프린트하라' 라는 의미임

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        print(i*j)

3
4
6
8

[여기서부터 1110 심화] nested loop (inner loop+outer loop)
- Outer loop; for i in range(1, 3) = 1≤x<3 라서 1,2, 생성
- Inner loop; for j in range(3, 5) = 3≤x<5 라서 3,4 생성
- Total; print(i*j): i=1, j=3인 상태, i=1, j=4인 상태, i=2, j=3인 상태, i=2, j=4인 상태 모음 👉 3, 4, 6,8

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)

4
8

- outer loop 1, 2
- inner loop 3, 4
- if는 indent가 j 소속이므로 inner loop 소속! j가 4보다 크거나 작을 때만 출력하라 했으니, 1X4, 2X4 해서 total 4,8 출력



---
**List Comprehension**

In [ ]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b

위의 b를 풀어서 봤을때, 생각은
for i in a
 if i >=2 라고 하기

[2, 3, 4]

* b = [i for i in a if i >=2] 에서, *for i in a* 은 for loop 니까 1,2,3,4 임
* i가 2보다 크거나 같을때 통과
* b 맨앞 i = (b = [i]) b를 i를 사용하여 list를 채워라. 근데 i가 2보다 크거나 같아야 하니, [2,3,4]가 됨
* 원래는 print[b] 해야 나오지만, 제일 마지막 줄에 있으니 그냥 b 만 해도 [2,3,4]가 나오는 것

In [ ]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']

* for loop 을 볼 땐 in 뒤를 젤 먼저 봐야함. in a 니까, a 첫번째부터 마지막까지 i에 넣고 돌려라.
* len(i)를 하면 len 안에 red green blue purple 이 들어가고,  if len(i) >=4 라는 말은 알파벳 개수가 4보다 크거나 같아야 한다는 말. 👉 green blue purple 추출

In [6]:
len('testify')

7

ㄴ **참고** len(문자)는 알파벳 개수를 나타냄