<a href="https://colab.research.google.com/github/2020130873HyunjuLee/class2021Fall/blob/main/1110%20%EA%B0%95%EC%9D%98%20%EC%A0%95%EB%A6%AC%EB%B3%B8%20variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 a = 1; print(type(a))

<class 'int'>

In [ ]:
a = 1.1; print(type(a))

<class 'float'>

In [ ]:
a = '123'; print(type(a)); print(a[1])

<class 'str'>
2

In [ ]:
a = 'hello'; print(type(a)); print(a[1])

<class 'str'>
e

In [ ]:
a = [1, 2, 3, 4]; print(type(a)); print(a[0])

<class 'list'>
1

ㄴ 변수가 string 이나 list 일때 특정 정보만 사용하고 싶다면, bracket을 사용 (a[0) 이런거

In [ ]:
a = [1,'a', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2]); print(a[2][1])

<class 'list'>
1
a
[3, '4']
4

ㄴ list 안에도 list가 들어갈 수 있다. 위 처럼 a[2][1] 일케 되면 a의 3번째 [3, '4']에서 [1] 인거니까 4 출력

In [ ]:
a = ['apple', 'orange', '2014']

In [ ]:
a =	{"a": "apple", "b": "orange", "c": 2014}
print(type(a))
print(a["a"])

<class 'dict'>
apple

a = ['apple', 'orange', '2014'] 이거나 
a =	{"a": "apple", "b": "orange", "c": 2014} 은 같지만, 전자는 a[0] 일케해야 하고, 후자는 a["a"] 해야 apple 이 나옴 
1.   List item
2.   List item